@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-dm-serif);

  /* Chanel-inspired luxury palette */
  --color-black: #000000;
  --color-charcoal: #111111;
  --color-ash: #f0f0f0;
  --color-white: #ffffff;
  --color-silver: #c0c0c0;
  --color-cream: #fffdd0;
  --color-rose: #ffc0cb;
}

@layer base {
  body {
    font-family: var(--font-sans), sans-serif;
  }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0px); }
}
